<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <h1><strong>VISAP Housing Loans</strong></h1>
</head>
<body>
<mat-toolbar  style="background-color:rgb(199, 179, 245); width: 85%;">
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

  <!-- <button mat-button [matMenuTriggerFor]="menu" style="font-size: x-large;">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Property Loan</button>
  <button mat-menu-item>Site Loan</button>
  <button mat-menu-item>Construction Loan</button>
  </mat-menu> -->
  
             
              <a class="nav-link" routerLink="/home" routerLinkActive="active" style="color: black;"><strong> Home</strong> </a>&nbsp;&nbsp;&nbsp;&nbsp;
             
          
              <a class="nav-link" routerLink="/about" routerLinkActive="active"style="color: black;">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
            
         
              <a class="nav-link" routerLink="/privacy" routerLinkActive="active"style="color: black;">Privacy Policy </a>&nbsp;&nbsp;&nbsp;&nbsp;
         
      
              <a class="nav-link" routerLink="/terms" routerLinkActive="active"style="color: black;">Terms and Conditions</a>&nbsp;&nbsp;&nbsp;&nbsp;
            
           
       
    </mat-toolbar>

    <div class="">
      <div class="container">
          <div class="row justify justify-content-center">
              <div class="col-12 col-lg-9 col-xl-8">
                  <form class="">
                      <div class="card">
                          <div class="row justify-content-center">
                              <div class="col-md-9 col-11">
                                  <div class="row mt-0">
                                      <div class="col-md-12 ">
                                          <p class="text-center sub-heading1">Click below to fill the loan form</p>
                                      </div>
                                  </div>
                                  <div class="row mt-0">
                                      <div class="col-md-12 ">
                                          <h4 class="text-center heading" style="font-size:x-large;">LOAN APPLICATION</h4>
                                      </div>
                                  </div>
                                  <div class="row mt-0">
                                      <div class="col-md-12 ">
                                          <p class="text-center sub-heading2">GLOBAL HOUSING LOANS</p>
                                      </div>
                                  </div>
                                  <div class="form-group row mb-3">
                                      <div class="col-8 mb-0 px-0 pr-2"> <input id="e-mail" type="text" placeholder="Enter your Email ID here" name="email" class="form-control input-box rm-border text-left"> </div>
                                      <div class="col-4 px-0"><input type="submit" value="APPLY!" routerLink="/loanform" class="btn btn-block btn-green rm-border"> </div>
                                  </div>
                                  <div class="form-group row justify-content-center mb-0">
                                      <div class="col-md-12 px-3 mt-2">
                                              <p class="thanks" routerLink="/login">Call 1800-1234567 For Enquiry</p>
                                           </div>
                                  </div>
                                  <div class="form-group row justify-content-center mb-0">
                                      <div class="col-md-12 px-3">
                                          <p class="conditions">First time registerants only. "$10 off on $25+ orders, and entering your email also makes you eligible to receive future promotional emails.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>

    <marquee width = "100%" style="font-style:inherit;"> <p style="font-size: xx-large; color:rgb(20, 17, 15)" ><strong style="color: rgb(9, 8, 10);">GLOBAL HOUSING LOANS PVT.LTD</strong></p> </marquee>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" style="background-color:rgb(199, 179, 245); width: 85%;">
  <mat-tab label="*"> 
      <img src="https://abcscprod.azureedge.net/-/media/Project/ABCL/Internal_Images_526x230/526x230/HF/FW_What_is_a_Home_Loan_526_230_F_HF_076.ashx?revision=be212453-44d0-48a9-81e0-b45ac66263f0&modified=20200821100332" alt="" style="width: 100%;"></mat-tab>
  <mat-tab label="*"> <img src="https://www.hdfc.com//sites/default/files/5days-home-loan-new-banner03.jpg" alt=""></mat-tab>
  <mat-tab label="*"><img src="https://www.bajajfinservmarkets.in/content/dam/bajajfinserv/banner-website/home-loan/Home-Loan-PMAY.JPG" alt=""></mat-tab>
</mat-tab-group>

 
 <h1 style="text-align: center;"></h1><br>
  <div class="row">
    <div class="column">
      <img src="https://www.lichousing.com/static-assets/images/family_photo.png?crafterSite=lichfl-corporate-website-cms" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <p style="font-size:xx-large;"><em> If home ownership is your aspiration, make us part of your solution
        Home loans that fullfil your needs!</em> </p>
        &nbsp;
        <p style="font-size: x-large;">We understand the value of home ownership. Which is why,
           our business looks beyond extending home loans to guiding you throughout the journey step
            by step. Avail home loans comfortably by applying online.</p>
    </div>
  
  </div>
 
 
 <p style="font-size:large;">There are many types of mortgages used worldwide,
    but several factors broadly define the characteristics of the mortgage.
<br>
     All of these may be subject to local regulation and legal requirements.
<br>
<br>
  <strong>Interest:</strong>  may be fixed for the life of the loan or variable, and change at certain pre-defined periods; the interest rate can also, of course, be higher or lower.
<br>
<br>
 <strong> Term:</strong> Mortgage loans generally have a maximum term, that is, the number of years after which an amortizing loan will be repaid. 
  <br> Some mortgage loans may have no amortization, or require full repayment of any remaining balance at a certain date, or even negative amortization.
<br>
<br>
  <strong>Payment amount and frequency:</strong> The amount paid per period and the frequency of payments; in some cases, 
  <br> the amount paid per period may change or the borrower may have the option to increase or decrease the amount paid.
<br>
<br>
  <strong>Prepayment:</strong> Some types of mortgages may limit or restrict prepayment of all or a portion of the loan, <br> or require payment of a penalty to the lender for prepayment.</p>
 
  
 <section>
    
  <div style=" ">
     <button mat-flat-button color="accent" routerLink="/emi" style="float: center;font-size: x-large; width: 1500px; background-color: rgb(199, 179, 245); color: black;">EMI CALCULATOR</button>
    </div> 
 
 </section>
<br>
<div class="row" style="width: 70%;">
  <div class="column">
    <img src="https://images.livemint.com/img/2020/01/17/1600x900/bengaluru_1579254024613.jpg" alt="Snow" style="width:100%">
    <h5 class="card-title" style="font-size: x-large;"><strong><mark>customer Portal</mark></strong></h5>
    
    <a mat mat-button style="background-color: rgb(199, 179, 245); color: black;" routerLink ="/login" class="btn btn-primary">Click</a>
  </div>
  <div class="column">
    <img src="https://www.indiabullshomeloans.com/uploads/blog/home-loan-terminology-0089480001558616854.jpg" alt="Snow" style="width:100%">
    <h5 class="card-title" style="font-size: x-large;"><strong><mark>Eligibility Criteria</mark></strong></h5>
    
    <a mat mat-button style="background-color: rgb(199, 179, 245); color: black;" routerLink ="/table" class="btn btn-primary">Click</a> 
  </div>
  <p class="card-text" style="font-size :xx-large"><em>Easy to access to your <br> loan details through <br> the customer portal. <br>Login now to review <br> and manage your <br> transactions. </em> </p>
</div>




</body>
</html>

