<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<header>
    <nav img src="https://www.bing.com/th?id=OIP.reeWuqcLunnDznpwgB796AHaFO&w=144&h=101&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"style="width: 70px;" alt="logo"> >
        <!-- <h2> LOGO </h2> -->
        <div class="menu"></div>
    </nav>
</header>
<main>
    <div class="about">
        <div class="title">
            <h1>About The Company</h1>
        </div>
        <div class="desc">
            <p>We work with a national network of delivery partners who are based across England, Wales, Scotland and Northern Ireland.
                 As well as helping loan applicants prepare their business plans and cash flow forecasts,
                  our delivery partners are responsible for assessing final applications and providing ongoing mentoring support to those people whose applications are successful </p>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card_img"> <i class="fas fa-rocket"></i> </div>
            <div class="card_title">OUR LEADERSHIP PRINCIPLES</div>
            <div class="card_body">
                <p>Our Leadership Principles are more than inspirational wall hangings.
                     The 16 principles guide our discussions and decisions every day.</p>
            </div>
        </div>
        <div class="card">
            <div class="card_img"> <i class="fab fa-cloudversify"></i> </div>
            <div class="card_title">OUR POSITION</div>
            <div class="card_body">
                <p>While our positions are carefully considered and deeply held, there is much room for 
                    healthy debate and differing opinions. 
                    We hope being clear about our positions is helpful.</p>
            </div>
        </div>
        <div class="card">
            <div class="card_img"> <i class="fas fa-user-astronaut"></i> </div>
            <div class="card_title">AWARDS AND RECOGNITION</div>
            <div class="card_body">
                <p> We are honored to be recognized for the work
                     we do on behalf of our customers, 
                    employees, and communities every day.</p>
            </div>
        </div>
    </div>
</main>