 <h1>Terms and Conditions</h1>

1. The Loan shall carry fixed rate of interest specified at the time of applying Loan. <br>
2. The Loan amount shall be disbursed, after debiting processing fees, in Borrower’s digiSavings account only with the Bank on accepting the Personal Loan Terms of Agreement. <br>
3. During the Free Look Period of two (2) days from date of Loan disbursement, the Borrower can cancel the Loan. Processing fees will not be refunded in case of cancellation. <br>
4. EMI shall consist of principal and interest component. The Borrower authorises the Bank to debit EMI from Borrower’s digiSavings account on the specified EMI date. <br>
5. Interest on the amount of the loan will be applied at the agreed rate on daily reducing balance. <br>
6. If any EMI is not honoured, the Borrower will be liable for dishonour charges and penal interest. <br>
7. The Borrower may foreclose or make pre-payments after six (6) months with applicable charges subject to maximum two (2) pre-payments in one year.
